 
 * {
    font-family: "Inter", sans-serif;
    color: white;
 }
body {
    background-color: rgb(188, 202, 246);
    }
div{
    background-color: rgb(68, 120, 242);
    width: 400px;
    height: 400px;
    
 }
 h1 {
    text-align: center;
    border: 6px solid;
    border-radius: 60px;
 }